/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  background-color: #232323;
  color: #cccccc;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

/* Estilo do menu */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #232323;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px solid #393939;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

/* Logo do menu */
.menu-left .logo {
  width: 50px;
  height: auto;
}

/* Ícone do carrinho e número de produtos */
.menu-right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

.cart {
  display: flex;
  align-items: center;
  background-color: #FF8310;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-count {
  margin-left: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

/* Estilo do contêiner principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

/* Contêiner para os cards */
.card-container {
  width: 1455px;
  height: 1135px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

/* Estilo dos Cards */
.product-card {
  width: 345px;
  height: 555px;
  border-radius: 8px;
  background-color: #191A20;
  padding: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

/* Estilo da Imagem dentro do Card */
.product-image {
  width: 296px;
  height: 258px;
  border-radius: 8px;
  object-fit: cover;
  gap: 19px;
}

/* Título do Produto */
.product-card h2 {
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-bottom: 10px;
}

/* Descrição do Produto */
.product-card p {
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0;
  color: #CCCCCC;
  margin-bottom: 10px;
}

/* Ícone da ETH */
.eth-icon {
  width: 29px;
  height: 29px;
  margin-right: 8px;
}

/* Valor do Produto */
.price {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0;
  color: #F0F0F0;
  margin-bottom: 20px;
}

/* Botão de Comprar */
button {
  width: 296px;
  height: 66px;
  border-radius: 8px;
  background-color: #FF8310;
  color: white;
  border: none;
  padding: 10px 26px;
  cursor: pointer;
  margin-top: 19px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}
button p {
  font-size: 16px;
}

button:hover {
  background-color: #FF8310;
}

/* Estilo para o contêiner do ícone e número de produtos */
.icon-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

/* Estilo para o botão Carregar Mais */
.load-more {
  position: relative;
  top: 30px;
  background-color: #393939;
  font-size: 16px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

.load-more:hover {
  background-color: #2f2f2f;
}

/* Estilos para o modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #232323;
  width: 679px;
  height: 800px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

.modal-title {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif; /* Alterado para Poppins */
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-image {
  margin-right: 15px;
}

.close-modal {
  margin-top: 20px;
  padding: 10px;
  background-color: #FF8310;
  color: white;
  border: none;
  cursor: pointer;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.back-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  position: relative;
  right: 50%;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 115px;
  height: 49px;
  border-radius: 8px;
  padding: 12px 8px;
  gap: 10px;
  background-color: #3a3a3a;
  margin-top: 10px;
}

.quantity-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.quantity-value {
  color: white;
  font-size: 16px;
}
